@charset "UTF-8";

:root{
    --cor0: #D4E9E2;
    --cor1: #1E3932;
    --cor2: #008248;
    --cor3: #2fa866;
    --cor4: #212121;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
body{
    font-family: var(--fonte-padrao);
    
}
h1{
    font-size: 1.5em;
}
header{
    
    box-shadow: 2px 1px 3px rgba(0, 0, 0, 0.445);
}
nav{
    display: flex;
}
#logo-nav{
    width: 50px;
    height: 50px;
    
}
ul{
    list-style-type: none;
    display: flex;
}
main a{
    font-weight: bold;
    color: var(--cor4);
    padding: 10px;
}
.historias-nav{
    display: flex;
    justify-content: flex-end;
}
.historias-nav img{
    width: 120px;
}
#encontre{
    display: flex;
    justify-content: flex-end;
}
#encontre img{
    width: 20px;
    height: 20px;
}
main{
    text-align: center;
    font-weight: 600;
    color: var(--cor1);
}
article{
    padding: 0px 10px;
}
section{
    margin: 20px;
    background-color: var(--cor0);
    
    padding: 50px;
}

.saiba-mais{
    display: inline-block;
    margin-top: 32px;
    border-radius: 30px;
    background-color: var(--cor0);
    border: 2px solid black;
}
#section-2 img{
    width: 720px;
    height: 420px;
}
#section-3 img{
    width: 720px;
    height: 480px;
}
#section-4 img{
    width: 720px;
    height: 481px;
}
footer{
    box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.678);
    padding: 48px 40px 32px 131px;
    color: var(--cor4);
}
footer a{
    
    font-weight: bold;
    color: var(--cor4);
    padding: 10px 10px 10px 5px;
    
}
#midias{
    padding: 50px 0px 30px 0px;
}
#politica{
    font-weight: bold;
    padding-bottom: 50px;
}
#politica ul li::after{
    content: " |";
    margin-right: 10px;
    
}


