@charset "UTF-8";

@font-face {
    font-family:'SoDoSans-Regular' ;
    src: url('fonts/SoDoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'SoDoSans-SemiBold' ;
    src: url('fonts/SoDoSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family:'SoDoSans-Bold' ;
    src: url('fonts/SoDoSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root{
    --fonte-principal: 'SoDoSans-Regular', Arial, sans-serif;
    --fonte-semibold: 'SoDoSans-SemiBold', Arial, sans-serif;
    --fonte-bold: 'SoDoSans-Bold', Arial, sans-serif;

    --cor-fundo: #D4E9E2;
    --cor1: #212121;
    --cor2: #1E3932;
}
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body, html{
    font-family: var(--fonte-principal);
    color: var(--cor1);
    height: 100vh;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    box-shadow: 0px 1px 3px rgba(150, 150, 150, 0.582);
    font-family: var(--fonte-bold);
    font-size: 0.90em;

}
.nav-logo img{
    width: 50px;
}
.nav-left-list{
    display: flex;
}
.nav-left-list li{
    margin-left: 30px;
    list-style: none;
}
.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

#historias{
    width: 120px;
}
.nav-right{
    margin: 10px;
}
.found-store{
    margin-left: 16px;
}
main p{
    font-size: 17px;
}
.main-container{
    max-width: 1440px;
    margin: 0 auto;
}
img{
    display: block;
    max-width: 100%;
    margin: auto;
}
.image-section{
    margin-bottom: 32px;
}
.info-section{
    background-color: var(--cor-fundo);
    margin-bottom: 32px;
    padding: 32px 48px;
}

.info-align p{
    text-align: center;
    max-width: 800px;
    min-width: 320px;
}
.info-align p, .saiba-mais{
    margin: auto;
}
.saiba-mais{
    margin-top: 32px;
    padding: 7px 16px;
    border: 1px solid black;
    width: 81px;
    border-radius: 50px;
    font-family: var(--fonte-semibold);
    font-size: 0.9rem;
}
.saiba-mais a{
    color: var(--cor2);
}
.product-section{
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
}
.product-align{
    flex-grow: 1;
    background-color: var(--cor-fundo);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 48px;
}
.text-product h1{
    margin-bottom: 24px;
}






